/* swiper-pagination-bullet 스타일 변경 */
.news {
  .swiper-pagination {
    top: 10px;
    height: 8px;
  }
  .swiper-pagination-bullet {
    background-color: #ec0a0b;
    width: 16px;
    height: 8px;
    opacity: 0.2;
    border-radius: 50%;
    transition: width 0.3s, height 0.3s;
  }
  .swiper-pagination-bullet-active {
    background-color: #ec0a0b;
    width: 32px;
    height: 8px;
    border-radius: 10%;
    opacity: 0.8;
  }
}
